<div class="container_non_responsive">
  <div class="container">
  <h1 class="hazy-glow">Discover top genres</h1>
    <div class="search-form-control-com form-group w-100">
      <%= form_with url: genres_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query], placeholder: "Search",
        class: "form-control-com string required"
        %>
          <%= button_tag "Search", class: "btn btn-search" do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div>
  <div class="container">
    <div class="cards-com">
      <% @genres.each do |genre| %>
        <%= link_to genre_path(genre) do  %>
          <div class="card-category-com" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= "https://source.unsplash.com/random/?#{genre.name}-music" %>')">
            <p><%= genre.name %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
