<div class="container">
  <div class="create-profile-title">
   <h1 class="create-profile-title">Create Your Profile</h1>
  </div>
  <br>
  <div class="profile-form">
    <%= simple_form_for @profile do |f| %>
      <%= f.input :nickname, label:false %>
      <%= f.input :first_name, label: false %>
      <%= f.input :last_name, label: false %>
      <%= f.input :location, label:false %>
      <%= f.input :bio, label:false %>
      <div class="wrapper">
      <%= f.submit "Create Profile", class: "btn btn-flat btn-form", style: "display:block; margin: 0 auto;"%>
      </div>
        <div style= "color: white; position: absolute; margin-top: 100px;">
          <%= link_to "Return to Home Page to your already existing profile", destroy_user_session_path,
              data: {turbo_method: :delete}, style:"font-size:16px; color: #c702a7"%>
</div>
    <% end %>
  </div>
</div>
