<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" /> %>
    </a>

    <div>
      <ul class="navbar-nav navbar-dark me-auto">
          <li class="nav-item c">
                <div class="z popup">
                  <span class="navbar-toggler-icon"></span>
                  <div class="items">
                    <div class="nav-item">
                      <%= link_to "My Profile", myprofile_path, class:"nav-link nav-link-extra" %>
                    </div>
                    <div class="nav-item">
                      <%= link_to "My Communities", communities_path, class:"nav-link nav-link-extra" %>
                    </div>
                    <div class="nav-item">
                      <%= link_to "About", about_path, class:"nav-link nav-link-extra" %>
                    </div>
                    <div class="nav-item">
                      <a class="nav-link nav-link-extra" href="#">FAQ</a>
                    </div>
                    <div class="nav-item">
                      <a class="nav-link nav-link-extra" href="#">Messages</a>
                    </div>
                    <div class="nav-item">
                      <% if @communities_show %>
                        <%= link_to "Leave Community", community_join_community_path(@community, current_user.profiles.last), class:"nav-link nav-link-extra",
                        data: {turbo_method: :delete, turbo_condirm: "Are you sure?"} %>
                      <% end %>
                    </div>
                    <div class="nav-item">
                      <% if user_signed_in? %>
                        <%= link_to "Log out", destroy_user_session_path, class:"nav-link nav-link-extra", data: {turbo_method: :delete} %>
                      <% else %>
                        <%= link_to "Log in", new_user_session_path, class:"nav-link nav-link-extra" %>
                      <% end %>
                    </div>
                  </div>
                </div>
          </li>
          <%# <li class="nav-item dropdown">
          </li> %>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
