<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag "Logo1@4x.png", class: "logo-image" %>
    </a>
    <button id="btn-login" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "About", about_path, class:"nav-link",  style:"float: right; color: #dfdfc9; line-height: 0.4 " %>
          </li>
          <li class="nav-item hidden-when-wide-screen">
            <%= link_to "My Profile", myprofile_path, class:"nav-link",  style:"float: right; color: #dfdfc9; line-height: 0.4" %>
          </li>
          <li class="nav-item">
            <%= link_to "Clubs", communities_path, class:"nav-link",  style:"float: right; color: #dfdfc9; line-height: 0.4 " %>
          </li>
          <li class="nav-item">
            <%= link_to "Create Club", new_community_path, class:"nav-link",  style:"float: right; color: #dfdfc9; line-height: 0.4 " %>
          </li>
          <li class="nav-item">
            <% if @communities_show %>
              <%= link_to "Leave Club", community_join_community_path(@community, current_user.profiles.last), class:"nav-link",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},  style:"float: right; color: #dfdfc9; line-height: 0.4 " %>
            <% end %>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to "Sign out", destroy_user_session_path, class:"nav-link",  style:"float: right; color: #dfdfc9; line-height: 0.4 ", data: {turbo_method: :delete} %>
            <% else %>
              <%= link_to "Sign in", new_user_session_path, class:"nav-link",  style:"float: right; color: #dfdfc9; line-height: 0.4 " %>
            <% end %>
          </li>
          <%# <li class="nav-item dropdown">
          </li> %>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
