<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" /> %>
</a>
    <button id="btn-login" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto pull-right">
          <li class="nav-item">
            <%= link_to "My Profile", myprofile_path, class:"nav-link",  style:"float: right; color: #dfdfc9" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Communities", communities_path, class:"nav-link",  style:"float: right; color: #dfdfc9" %>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path, class:"nav-link",  style:"float: right; color: #dfdfc9" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="float: right; color: #dfdfc9">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="float: right; color: #dfdfc9">Messages</a>
          </li>
          <li class="nav-item">
            <% if @communities_show %>
              <%= link_to "Leave Community", community_join_community_path(@community, current_user.id), class:"nav-link",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},  style:"float: right; color: #dfdfc9" %>
            <% end %>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to "Log out", destroy_user_session_path, class:"nav-link",  style:"float: right; color: #dfdfc9", data: {turbo_method: :delete} %>
            <% else %>
              <%= link_to "Log in", new_user_session_path, class:"nav-link",  style:"float: right; color: #dfdfc9" %>
            <% end %>
          </li>
          <%# <li class="nav-item dropdown">
          </li> %>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
