<h1>Your Feed</h1>
  <% @posts_author_likes.each do |elem| %>
    <%= link_to community_path(elem[:post].community) do %>
      <div><%= "Community Name: #{elem[:post].community.name}" %></div>
      <div><%= cl_image_tag elem[:post].community.photo.key %></div>
      <div><%= "Post Author: #{elem[:author].nickname}" %></div>
      <div><%= cl_image_tag elem[:author].photo.key, class: "user_avatar" %></div>
      <div><%= "Post Content: #{elem[:post].content}" %></div>
      <div><%= "#{time_ago_in_words(elem[:post].created_at)} ago" %></div>
      <div><%= "Likes: #{elem[:likes].count}" %></div>
    <% end %>
  <br>
<% end %>
