<%# <%= current_user.profiles[0].location  %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('profile.jpg') %>)">
  <%# <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div> %>
  <%= image_tag "avatar.jpg", class:"avatar-bordered" %>
</div>

<% if @user_check %>
  <%= link_to "Edit Profile", edit_profile_path(@profile), class:"btn btn-primary"%>
<% end %>

<div class="container">

  <div class="name">
    <h1><%= current_user.profiles[0].first_name %></h1>
    <p><%= current_user.profiles[0].bio %></p>
  </div>

  <div class="info">
    <div>
      <p>5</p>
      <h5>Clubs</h5>
      <p>Created</p>
    </div>

    <div>
      <p>10</p>
      <h5>Clubs</h5>
      <p>Joined</p>
    </div>

  </div>

  <div class="toggle">
    <h2>Clubs</h2>
    <h2>Posts</h2>
  </div>

  <div class="cards">
    <% current_user.profiles[0].communities.each do |community| %>
      <%= link_to community_path(community) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/564x/96/ee/f8/96eef867344f697815074cda268c84a2.jpg)">
          <p><%= community.name.truncate(35) %></p>
        </div>
      <% end %>
    <% end %>



    <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/564x/6b/60/77/6b6077a2ea52b535d2939c3946d84f71.jpg)">
      Jazz
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/564x/96/ee/f8/96eef867344f697815074cda268c84a2.jpg)">
      Pop
    </div> %>

  </div>
</div>
