
<div class="container m-3">
  <div class="create-profile-title">
    <h1 class="create-profile-title", style= "width:91%">Log in</h1>
  </div>
  <br>
  <div class="profile-form">
    <%= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false} }  do |f| %>
      <div class="form-inputs", style= "width:91%">
        <%= f.input :email, label: false, style:"padding-right: 30px", required: true, autofocus: true, input_html: { autocomplete: "email" }, placeholder: "Email" %>
        <%= f.input :password, required: false, label: false,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "current-password"},
                    placeholder: "Password"%>
        <%= f.input :remember_me, style:"color: #f2f2f2f2 as: :boolean if devise_mapping.rememberable?" %>
      </div>
      <div class="wrapper">
        <div class="form-actions">
          <%= f.button :submit, "Login", class: "btn btn-flat btn-form", style: "left:30%", id: 'round-btn' %>
        </div>
      </div>
    <% end %>
  </div>

  <div style="position: absolute; left:175px; bottom:40%; color: #C702A7">
<%= render "devise/shared/links" %>
</div>

</div>
