<%- title "Sign In" %>
<div class="container container_non_responsive extra-margin-top">
  <div class="create-profile-title">
    <h1 class="create-profile-title">Good to see you again</h1>
  </div>
  <br>
  <div class="profile-form">
    <%= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false} }  do |f| %>
      <div class="form-inputs">
        <%= f.input :email, label: false, required: true, autofocus: true, input_html: { autocomplete: "email" }, placeholder: "Email" %>
        <%= f.input :password, required: false, label: false,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "current-password"},
                    placeholder: "Password"%>
      </div>
      <div class="wrapper">
        <div class="form-actions">
          <%= f.button :submit, "Sing in", class: "btn btn-flat btn-form round-btn btn-main-color", style: "position: static" %>
        </div>
      </div>
      <div style="text-align:center; margin-top:10px;"><%= render "devise/shared/links" %></div>
    <% end %>
  </div>
</div>
