<%= post_profile_likes.first.content %>
<li>Posted by <em><%= post_profile_likes[1].nickname %></em>
  (
    <%= time_ago_in_words(post_profile_likes[0].created_at) %>
    ago
    <% if post_profile_likes[0].created_at != post_profile_likes[0].updated_at %>
      <%= "— edited #{time_ago_in_words(post_profile_likes[0].updated_at)} ago" %>
    <% end %>
  )
</li>
<% if user_signed_in? && post_profile_likes[1].id == current_user.id %>
  <%= link_to "Edit Post", edit_community_post_path(@community, post_profile_likes[0])%>
<% end %>
<li><%= pluralize(post_profile_likes[2].length, 'like') %> </li>
<% if user_signed_in? %>
  <li>
    <% unless post_profile_likes[2].map(&:profile_id).include? current_user.id %>
      <%= button_to like_community_post_path(post_profile_likes), {post_id: @post.id}, method: :post do %>
      <i class="fa-regular fa-heart"></i>
      <% end %>
    <% else %>
      <%= button_to unlike_community_post_path(post_profile_likes), {post_id: @post.id}, method: :post do %>
      <i class="fa-solid fa-heart"></i>
      <% end %>
    <% end %>
  </li>
<% end %>
