<%#<% @community_created_joined.each do |community_created_joined|%>
<%#<div>
<%#   <%= link_to community_created_joined[0].name, community_path(community_created_joined[0]) %>
<%#   <%# JOIN COMMUNITY BUTTON %>
<%#   <% if !community_created_joined[2]  %>
<%#   <%= link_to "Join", community_join_communities_path(community_created_joined[0]), data: { turbo_method: :post }, class:"btn" %>
<%#   <% else  %>
<%#   <%= link_to "Leave", community_join_community_path(community_created_joined[0], current_user.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn" %>
<%#   <% end %>
<%#</div>
<%#<% end %>

<div class="container">
  <div class="search-form-control-com form-group" style="display:flex">
    <%= form_with url: communities_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control-com string required"%>
        <%= button_tag "Search", class: "btn btn-search" do %>
        <i class="fas fa-search"></i> Search
      <% end %>
    <% end %>
  </div>

 <div class="cards-com">
    <% @communities.each do |community| %>
      <%= link_to community_path(community) do  %>
        <div class="card-category-com" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/474x/f4/65/a2/f465a256777751abf54ff379c6c1cd99.jpg)">
          <p><%= community.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
