<ol>
<% @community_created_joined.each do |community_created_joined|%>
 <li>
    <%= link_to community_created_joined[0].name, community_path(community_created_joined[0]) %>
    <%# JOIN COMMUNITY BUTTON %>
    <% if community_created_joined[1] && community_created_joined[2]  %>
    <p>(you created this community)"</p>
    <% elsif community_created_joined[1] && !community_created_joined[2]  %>
    <%= link_to "Join", community_join_communities_path(community_created_joined[0]), data: { turbo_method: :post }, class:"btn" %>
    <p>(you created this community)</p>
    <% else  %>
    <%= link_to "Join", community_join_communities_path(community_created_joined[0]), data: { turbo_method: :post }, class:"btn" %>
    <% end %>
 </li>
 <% end %>
</ol>
<%=  %>
<%=  %>
<%=  %>
