<%#<% @community_created_joined.each do |community_created_joined|%>
<%#<div>
<%#   <%= link_to community_created_joined[0].name, community_path(community_created_joined[0]) %>
<%#   <%# JOIN COMMUNITY BUTTON %>
<%#   <% if user_signed_in? %>
<%#     <% if !community_created_joined[2]  %>
<%#     <%= link_to "Join", community_join_communities_path(community_created_joined[0]), data: { turbo_method: :post }, class:"btn" %>
<%#     <% end %>
<%#   <% end %>
<%#</div>
<%#<% end %>

<div class="container">
  <div class="search-form-control-com form-group w-100">
    <%= form_with url: communities_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query], placeholder: "Search",
      class: "form-control-com string required"
      %>
        <%= button_tag "Search", class: "btn btn-search" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>

 <div class="cards-com">
    <% @communities.each do |community| %>
      <%= link_to community_path(community) do  %>
        <div class="card-category-com" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/564x/46/5a/fa/465afafa6e00ea4615fd7e723b381c8e.jpg)">
          <p><%= community.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
