<div class="container">
  <div class="create-profile-title">
   <h1 class="create-profile-title">Create A Community</h1>
  </div>
  <br>
  <div class="profile-form">
  <%= simple_form_for @community do |f| %>
    <%= f.input :name, label:false %>
    <%= f.input :location, label: false %>
    <%= f.association :genre, label: false %>
    <%= f.input :description, label: false %>
    <%= f.input :photo, as: :file, label: false %>
    <div class="wrapper">
    <%= f.submit "Create Profile", class: "btn btn-flat btn-form", style: "display:block; margin: 0 auto;"%>
    </div>
  <% end %>
  </div>
</div>
