<%- title @community.name %>
<div class="container_non_responsive">
  <div class="banner-com">
    <% if @community.photo.key? %>
      <%= cl_image_tag @community.photo.key, class: "background-image-show" %>
    <% else %>
      <img class="background-image-show" src="https://source.unsplash.com/random/?event" alt="event-background-image">
    <% end %>
  </div>
  <div class="container-com">
    <%# BASIC DESCRIPTION %>
    <div class="club-info">
      <%# NAME - GENRE %>
      <div class="name-genre">
        <h5><%= @community.name %> </h5>
        <h5>Genre: <%= link_to @community.genre.name, genre_path(@community.genre), class:"community-genre-link" %></h5>
      </div>
      <%# DESCRIPTION %>
      <p><%= @community.description %> </p>
      <%# MEMBERS BURGER %>
      <button class="navbar-toggler members-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#friendsSupportedContent" aria-controls="friendsSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <p class="members"><span><%= pluralize(@profiles.nil? ? 0 : @profiles.length, 'Member') %></span><span id="accordion-symbol"><span id="up-caret" class="caret-tranparent">&#9650;</span><span id="down-caret">&#9660;<span></span></p>
      </button>
      <div class="collapse navbar-collapse" id="friendsSupportedContent">
        <% @profiles.each do |profile| %>
          <p>
            <%= link_to profile.nickname, profile_path(profile) %>
          </p>
        <% end %>
        <hr width="100%" size="5">
      </div>
      <%# JOIN COMMUNITY BUTTON %>
      <% if user_signed_in? %>
        <% if @user_check && @joined  %>
          <p><%= "You are the creator of this community and have been a member since #{@community.created_at.strftime("%B  %Y")}" %></p>
          <%# EDIT COMMUNITY BUTTON %>
          <%# If user is club's creator and is still member, show edit button %>
          <%= link_to edit_community_path(@community) do%>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
        <% elsif @user_check && !@joined  %>
          <p>You are the creator of this community</p>
          <%= link_to "Rejoin Club", community_join_communities_path(@community), data: { turbo_method: :post }, class:"btn btn-show btn-main-color"%>
        <% elsif !@user_check && @joined  %>
          <p><%= "You have been a member since #{@community.created_at.strftime("%B  %Y")}" %></p>
        <% elsif !@user_check && !@joined  %>
          <%= link_to "Join Club", community_join_communities_path(@community), data: { turbo_method: :post }, class:"btn btn-show btn-main-color"%>
        <% end %>
      <% end %>
    </div>
  </div>

  <div data-controller="insert-post">

    <%# POST FORM %>
    <%# If user is member, show Post Form %>
    <% if @joined %>
      <div class="post-form">
        <%= render 'posts/form', community: @community, post: @post %>
      </div>
    <% end %>

    <%# POSTS %>
    <%# If user is signed in the app (in general), show Post Form %>
    <% if user_signed_in? %>
      <div data-insert-post-target="items">
        <% @posts_profiles_likes.reverse.each do |post_profile_likes|%>
          <p>
            <%= render "posts/post", post_profile_likes: post_profile_likes, community: @community %>
          </p>
        <% end %>
      </div>
    <% end %>

  </div>

</div>

<script>
document.getElementsByClassName("navbar-toggler members-toggler")[0]
.addEventListener('click', (event) => {
  document.getElementById("up-caret").classList.toggle("caret-tranparent")
  document.getElementById("down-caret").classList.toggle("caret-tranparent")
})
</script>
