<div class="container_non_responsive">
  <div class="banner-com">
    <% if @community.photo.key? %>
      <%= cl_image_tag @community.photo.key, class: "background-image-show" %>
    <% else %>
      <img class="background-image-show" src="https://source.unsplash.com/random/?event" alt="event-background-image">
    <% end %>
  </div>
  <div class="container-com">
    <div class="club-info">
      <div class="name-genre">
        <h5><%= @community.name %> </h5>
        <h5>Genre: <%= @community.genre.name %></h5>
      </div>

      <p><%= @community.description %> </p>
      <button id="btn-login" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#friendsSupportedContent" aria-controls="friendsSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <p class="member"><%= pluralize(@profiles.nil? ? 0 : @profiles.length, 'Member') %></p>
      </button>
      <div class="collapse navbar-collapse" id="friendsSupportedContent">
        <% @profiles.each do |profile| %>
          <p>
            <%= link_to profile.nickname, profile_path(profile) %>
          </p>
        <% end %>
        <hr width="100%" size="5">
      </div>
      <% if user_signed_in? %>
        <%# JOIN COMMUNITY BUTTON %>
        <% if @user_check && @joined  %>
          <p><%= "You are the creator of this community and have been a member since #{@community.created_at.strftime("%B  %Y")}" %></p>
        <% elsif @user_check && !@joined  %>
          <p>You are the creator of this community</p>
          <%= link_to "Rejoin Club", community_join_communities_path(@community), data: { turbo_method: :post }, class:"btn btn-primary"%>
        <% elsif !@user_check && @joined  %>
          <p><%= "You have been a member since #{@community.created_at.strftime("%B  %Y")}" %></p>
        <% elsif !@user_check && !@joined  %>
          <%= link_to "Join Club", community_join_communities_path(@community), data: { turbo_method: :post }, class:"btn", id:"btn-show"%>
        <% end %>
        <%# EDIT COMMUNITY BUTTON %>
        <% if @user_check && @joined %>
          <%= link_to edit_community_path(@community) do%>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
        <% end %>
        <br>
      <% end %>
    </div>
  </div>
  <div>
    <div class="post-form">
      <% if user_signed_in? %>
        <%= render 'posts/form', community: @community, post: @post %>
      <% end %>
    </div>
  </div>

  <div data-controller="test">

    <div>
      <% @posts_profiles_likes.reverse.each do |post_profile_likes|%>
        <p>
          <div>
            <%= render "posts/post", post_profile_likes: post_profile_likes, community: @community %>
          </div>
        </p>
      <% end %>
    </div>
  </div>

</div>
