<div class="banner-com">
  <%= cl_image_tag @community.photo.key, class: "background-image" %>
  </div>
    <div class="container-com">
      <div class="club-info">
        <div class="name-genre">
          <h6><%= @community.name %> </h6>
          <h6>Genre: <%= @community.genre.name %></h6>
        </div>
          <p class="member"><%= pluralize(@profiles.nil? ? 0 : @profiles.length, 'Member') %></p>
          <p><%= @community.description %> </p>
        <% if user_signed_in? %>
        <%# JOIN COMMUNITY BUTTON %>
        <% if @user_check && @joined  %>
          <p><%= "You are the creator of this community and have been a member since #{@community.created_at.strftime("%B  %Y")}" %></p>
        <% elsif @user_check && !@joined  %>
          <p>You are the creator of this community</p>
          <%= link_to "Rejoin Club", community_join_communities_path(@community), data: { turbo_method: :post }, class:"btn btn-primary"%>
        <% elsif !@user_check && @joined  %>
          <p><%= "You have been a member since #{@community.created_at.strftime("%B  %Y")}" %></p>
        <% elsif !@user_check && !@joined  %>
          <%= link_to "Join Club", community_join_communities_path(@community), data: { turbo_method: :post }, class:"btn btn-primary"%>
        <% end %>
        <%# EDIT COMMUNITY BUTTON %>
        <% if @user_check %>
          <%= link_to edit_community_path(@community) do%>
          Edit Community <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
        <% end %>
        <%# </div> %>
    </div>
  </div>


<%#= link_to @community.genre.name, genre_path(@community.genre), class:"btn"%>


      <br>
      <%# <h2><%= pluralize(@profiles.nil? ? 0 : @profiles.length, 'Member') %>
      <%# </h2>
      <%# <ol>
      <%# <% @profiles.each do |profile|%>
      <%#   <li>
      <%#     <%= link_to "#{profile.nickname}#{@community.profile_id == profile.id ? ' (creator)' : ''}", profile_path(profile) %>
      <%#   </li>
      <%# <% end %>
      <%# </ol> %>
    <% end %>
  </div>

<div class="post-form">
  <div>
    <% if user_signed_in? %>
      <%= render 'posts/form', community: @community, post: @post %>
  </div>
    <% end %>
  </div>
</div>
<div data-controller="test">
    <%# <h2> Posts </h2> %>

  <div>
    <% @posts_profiles_likes.each do |post_profile_likes|%>
      <p>
        <div>
          <%= render "posts/post", post_profile_likes: post_profile_likes %>
        </div>
      </p>
    <% end %>
  </div>
</div>



<%# <p>Created %>
<%#= time_ago_in_words(@community.created_at) %>
<%# ago</p> %>
<%# style="background-image: url('https://i.pinimg.com/564x/b9/94/ee/b994ee33ee04246c85d4e7ca30f93981.jpg')"> %>
